* {
    font-family: Arial;
}
body {
    background-color: ;
    margin: 0;
    padding: 0;
    padding-bottom: 300px;

}
header {
    display:flex;
    justify-content: center;
    height: 120px;
}
.container {
    width: 990px;
    justify-content: space-between;
    display: flex;

}
.logo {

    display: flex;
    align-items: center;
}
.menu {

    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;

}
nav ul {
    display: flex;
}
nav li {
    display: flex;
}
nav a {
    display: flex;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #FFFFFF;

}
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;

}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #000000;
    margin: 0;
    padding: 0;
    width: 300px;
    max-width: 350px;
}
.banner_headline h2 {
    color: #FFFFFF;
    font-size: 25px;
    text-shadow: 0px 1px 0px #000000;
    width: 300px;
    margin-top: 30px;
    max-width: 350px;
}
.banner_options {

    height: 210px;
    display: flex;

}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}
.banne_title {
    font-size: 28px;
}
.banner_desc {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;

}
.banner_hours {
    border: 1px;
    padding: 5px;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-block;
    margin-top: 5px;

}
.hour1 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
    display: flex;

}
.hour2 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
}
.hour3 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
    display: flex;

}

#geral {
    display: flex;
    justify-content: center;

}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;

}

.widget_title_text {
    color:#000000;
    font-size: 21px;
    font-weight: bold;

}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #39aae1;
    margin-top: 10px;
}
.blocos_aside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blocos {
    width: 150px;
    height: 150px;
    background-color: #39aae1;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
 
article {
    flex: 1;
    min-width: 300px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 95%;
    height: auto;

}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000000;
}
article .news_resume {
    width: 90%;
    margin-top: 25px;
    font-size: 14px;
    line-height: 23px;
    color: #727272;
}

